@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
}
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-warning">User Registration Form</h2>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">@TempData["SuccessMessage"]</div>
        }
        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert"></div>
        <form asp-controller="Home" asp-action="SignUp" method="post">
            <div class="row mb-3">
                <label for="Username" class="col-sm-3 col-form-label" asp-for="Username"></label>
                <div class="col-md-8">
                    <input asp-for="Username" class="form-control">
                    <span class="text-warning" asp-validation-for="Username"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Email" class="col-sm-3 col-form-label" asp-for="Email"></label>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control">
                    <span class="text-warning" asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="Phone" class="col-sm-3 col-form-label" asp-for="Phone"></label>
                <div class="col-md-8">
                    <input asp-for="Phone" class="form-control">
                    <span class="text-warning" asp-validation-for="Phone"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="Password" class="col-sm-3 col-form-label" asp-for="Password"></label>
                <div class="col-md-8">
                    <input type="password" asp-for="Password" class="form-control">
                    <span class="text-warning" asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="ConfirmPassword" class="col-sm-3 col-form-label" asp-for="ConfirmPassword"></label>
                <div class="col-md-8">
                    <input type="password" asp-for="ConfirmPassword" class="form-control">
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8 offset-md-9">
                    <button type="submit" class="btn btn-danger">Sign in</button>
                </div>
            </div>

        </form>
    </div>

</div>
